/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html,body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#wrapper {
	max-width: 100%;
	width: 940px;
	margin: 0 auto;
}

.main {
	max-width: 100%;
	width: 940px;
}

.header, .content, .bottom, .sep2 {
	width: 100%;
}

.header {
	width: 90%;
	margin: 160px auto 20px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	text-align: center;
	font-size: 36px;
	font-weight: 300;
	margin: 0 0 10px 0;
}


h1 strong {
	font-size: 38px;
	font-weight: 700;
}

h2 {
	text-align: center;
	font-weight: 300;
	font-size: 20px;
	color: #000;
}

h2 strong {
	font-weight: 700;
	font-style: italic;
}

h3 {
	font-size: 28px;
	font-weight: 600;
	color: #ffffff;
}

img {
	display: block;
	width: 100%;
	max-width: 540px;
	margin: 20px auto;
}

.information {
	max-width: 600px;
	margin: 0 auto;
}

.information p {
	font-size: 14px;
	font-weight: lighter;
	text-align: center;
	color: #aaadad;
	margin: 20px 20px 0;
}

.information a {
	margin-left: 5px;
}

.form {
	display: flex;
	width: 90%;
	margin: 20px auto 0;
}

input:first-of-type {
	flex: 1;
}

.field{
	transition: all .15s ease-in-out;
	background: #fff;
	border: solid 1px #aaadad;
	font-weight: lighter;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #000;
	padding: 14px 15px;
	outline: none;
}
	.field:focus {
		border-color: #4ec0b6;
	}

.submit {
	transition: all .15s ease-in-out;
	padding: 15px 20px;
	background: #4ec0b6;
	color: white;
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
}

.submit:hover {
	background: #257a75;
}

.error {
  color: #ea168c;
  font-size: 25px;
}

a {
	transition: all .15s ease-in-out;
  color: #aaadad;
  font-weight: 500;
}

a:focus,
a:hover {
  color: #4ec0b6;
}

a:visited {
	color: #257a75;
}

.g-recaptcha, .g-recaptcha > div {
  margin: auto;
}

@media only screen and (max-width: 480px) {
	form {
		flex-direction: column;
	}
}
